@media screen and (max-width: 970px) {
  .slideshow-container {
    max-width: 100%;
  }

  .video-container {
    width: 90%;
    height: 575px;
    margin-left: 20px;
    overflow: hidden;
}

  .buttons {
    justify-content: center;
    padding-left: unset;
  }

  .item .content {
    left: 15.5px;
  }

  .ntitle::after {
    display: none;
  }

  .safety-flex {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .s-text {
    width: 350px;
    padding-left: 1.5rem;
    padding-top: 0;
  }

  .s-points{
    padding:50px 35px 0px 35px;
    width: 100%;
  }

  .t-box { 
    position: unset;
    margin-top: 2.5rem;
  }

  .safety-two {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    background-position: 125% 50%;
  }

  .teams{
    margin-top: 75rem;
  }

  .team-container {
    background-image: unset;
  }

  .team-flex {
    flex-direction: column;
    padding: 50px 15.5px;
    justify-content: center;
    align-items: center;
  }

  .content {
    padding: 0rem 0rem 0rem 5rem;
  }

  .radiation {
    padding: 2.5rem 0rem 5rem 0rem;
}

.rd-flex{
    grid-template-columns: 100%;
    gap: 75px;
}

.rd-text{
    font-size: 30px !important;
    margin-top: unset;
}

  .slideshow-containerT{
    display: none;
  }

  .rd-graph {
    width: 320px;
  }

  #container-graph{
    width: 100%;
  }

  .lfooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
    margin-top: 7rem;
    padding: 35px 4.5rem 35px 2.5rem;
}

.footer-logo {
    margin-left: -1.2rem;
}

}
